<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="Noi, Noiref, Reference, Informatics, Code, Anderson, Andss" />
  <meta name="description" content="A website containing code and reference for NOI, National Olympiad In Informatics" />
  <meta name="author" content="Anderson Secondary School Robotics Club" />

  <title>NOI Reference - Anderson Secondary School</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:400,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
    <!-- {% block head %} {% endblock %} -->
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-11 offset-md-1 px-0">
            <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
              <a class="navbar-brand" href="index.html">
                <img src="../static/images/andss-logo.png" class="d-inline-block align-top" alt="">
                <span>NOI Reference</span>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                  <ul class="navbar-nav  ">
                    <li class="nav-item ">
                      <a class="nav-link pl-0" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="about.html"> About </a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="work.html">My Work </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="blog.html"> Blog </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contact.html">Contact us</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- end header section -->

  </div>

    {% block body %} {% endblock %}
    <footer>
        <div class="info_section layout_padding-top layout_padding2-bottom">
            <div class="container">
                <div class="social_container">
                    <h2>
                        Follow Us
                    </h2>
                    <div class="social_box">
                        <a href="">
                            <img src="../static/images/fb.png" alt="" />
                        </a>
                        <a href="">
                            <img src="../static/images/twitter.png" alt="" />
                        </a>
                        <a href="">
                            <img src="../static/images/linkedin.png" alt="" />
                        </a>
                        <a href="">
                            <img src="../static/images/youtube.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container-fluid footer_section">
            <div class="container">
                <p>
                    2023 All Rights Reserved &copy; Anderson Secondary School Robotics Club
                    Design by <a href="https://html.design/" target="_blank" class="colored-link">html.design</a>
                </p>
            </div>
        </div>
        <script src="../static/js/jquery-3.4.1.min.js"></script>
        <script src="../static/js/bootstrap.js"></script>
        <script src="../static/js/script.js"></script>

        {% block footer %} {% endblock %}
    </footer>
</body>
</html>