{% extends 'base.html' %}

{% block head %} {% endblock %}

{% block hero %} {% endblock %}

{% block body %}

<div class="about_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h1>Math</h1>
        </div>
        <div class="row">
            <div class="col-md-9" role="main">
                <div class="box layout_padding2-top layout_padding-bottom">
                    <div class="detail-box">
                        <p>
                            It is a long established fact that a reader will be distracted by
                            the readable content of a page when looking at its layout. The
                            point of using LoremIt is a long established fact that a reader
                            will be distracted by the readable content of a page when looking
                            at its layout. The point of using Lorem
                        </p>
                    </div>
                    <div class="img-box">
                        <img src="../static/images/about-img.jpg" alt="" />
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">Read More</a>
                </div>
            </div>
            <div class="col-md-3">
                <p>Navigation</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %} {% endblock %}